<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>Puppies!</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8089/orderline">http://localhost:8089/orderline</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/create">http://localhost:8089/orderline/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderline/edit/1">http://localhost:8089/orderline/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/edit/2">http://localhost:8089/orderline/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/edit/3">http://localhost:8089/orderline/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderline/delete/1">http://localhost:8089/orderline/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/delete/2">http://localhost:8089/orderline/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/delete/3">http://localhost:8089/orderline/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/orderline/details/1">http://localhost:8089/orderline/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/details/2">http://localhost:8089/orderline/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/details/3">http://localhost:8089/orderline/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/orderline/findall">http://localhost:8089/orderline/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/findone/1">http://localhost:8089/orderline/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/findone/2">http://localhost:8089/orderline/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderline/findone/3">http://localhost:8089/orderline/findone/3</a>
          </li>
  
        </ol>
  
  
      </div>
    </div>
  </div>