<br/>
<br/>
<h2>product details</h2>
<br/>
ID:
<%=  product._id %>
  <br> Email:
  <%=product.productKey%>
    <br/> productKey:
    <%=product.description%>
      <br/> description
      <%=product.unitPrice%>
        <br/>unitPrice
        <br/>
            <br/>
            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>