
<br><br><br>
<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <br>
            <br>
            <span id="profile">
                <img src="./images/profile.jpg" alt="avatar">
            </span>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <div id="name">
                <p>Hey I'm</p>
                <h2> Ankit Prakash </h2>
            </div>
        </div>
        <div class="col-sm-4">
            <span id="profile">
                <img src="images/background/Story-of-my-life.jpg" alt="avatar">
            </span>
        </div>

        <div class="col-sm-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                        <span id="intro-head">
                                <h1>Current</h1>
                        </span> 
                    <span id="intro">
                        <p>I am a new member of the Fall 2018 Batch working on my Masters of Applied Computer Science.
                        </p>
                    </span>
                  </div>
                  <div class="carousel-item">
                        <span id="intro-head">
                                <h1>Background</h1>
                        </span> 
                    <span id="intro">
                        <p>I am from India. I have completed my Bachelor of Engineering in Electronics in 2014 from
                            Nagpur University. I had worked as a software developer for 4 years in Tech Mahindra where my role was to enhance
                            and maintain an AT&T Marketing and Campaign Management data warehouse on platforms like Java, Mainframes, Cobol,
                            Teradata, Oracle and Unix Shell Scripting.
                            When I am not working, I like cooking, reading or go for walk/jog.
                        </p>
                    </span>
                  </div>
                  <div class="carousel-item">
                        <span id="intro-head">
                                <h1>Plans</h1>
                        </span> 
                    <span id="intro">
                        <p>I have joined ACS course in the NW to learn front end development and project management that would get me ready 
                             to pursue my career as a Sr. Software developer and eventually an Architect.
                             My main focus will be learning Web-app, Android development along with IT management and Project Management.
                        </p>
                    </span>
                  </div>
                </div>
                <a class="carousel-control-prev" id="c2" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" id="c2" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" id="c2" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" id="c2" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
    </div>
</div>


<div class="title">
    <p><strong>Something that interests me</strong> </p>
</div>

<div class="content">
    <div class="row">
        <div class="col-sm-4">

            <span id="intro">
                <h2>The Minimalists</h2><br>
                <h6> At first glance, people might think the point of minimalism is only to get rid
                    of material possessions: Eliminating. Jettisoning. Extracting. Detaching. Decluttering.
                    Paring down. Letting go. But that’s a mistake.
                    <br><br>
                    Minimalists don’t focus on having less, less, less. We focus on making room for more:
                    more time, more passion, more creativity, more experiences, more contribution, more contentment,
                    more freedom. Clearing the clutter from life’s path helps make that room.
                    <br><br>
                    Minimalism is the thing that gets us past the things so we can make room for life’s important
                    things—which aren’t things at all.

                </h6>
            </span>

        </div>
        <div class="col-sm-8">
            <div id="videos" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="resp-container">
                            <iframe class="resp-iframe" width="640em" height="420em" src="https://www.youtube.com/embed/GgBpyNsS-jU"
                             frameborder="0" allow="encrypted-media" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="resp-container">
                            <iframe class="resp-iframe" width="640em" height="420em" src="https://www.youtube.com/embed/tXlNvlzd9M8"
                             frameborder="0" allow="encrypted-media" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="resp-container">
                            <iframe class="resp-iframe" width="640em" height="420em" src="https://www.youtube.com/embed/w7rewjFNiys"
                             frameborder="0" allow="encrypted-media" allowfullscreen>
                            </iframe>
                        </div>

                    </div>
                    <a class="carousel-control-prev" id="c1" href="#videos" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" id="c1" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" id="c1" href="#videos" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" id="c1" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
